<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <p class="footer__copyright footer__list-stick">
                © 2018 «LoremIpsum.net» Все права защищены.
            </p>
            <ul class="footer__list footer__list-stick">
                <li class="footer__list-item undotted"><img src="../img/qiwi.png" alt="qiwi" class="footer__list-img"><p class="footer__list-text">Qiwi wallet</p></li>
                <li class="footer__list-item undotted"><img src="../img/yandex.png" alt="yandex" class="footer__list-img"><p class="footer__list-text">Yandex Money</p></li>
                <li class="footer__list-item undotted"><img src="../img/web-money.png" alt="web-money" class="footer__list-img"><p class="footer__list-text">Web Money</p></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list-item undotted"><img src="../img/footer-mail.png" alt="send message" class="footer__list-img"><a href="#" class="footer__list-link">info@ipsum228.com</a></li>
                <li class="footer__list-item undotted"><img src="../img/vk.png" alt="link to vk" class="footer__list-img"><a href="#" class="footer__list-link">Мы вконтакте</a></li>
            </ul>
        </div>
    </div>
</footer>