<header class="header">
    <div class="container">
        <ul class="header__list">
          <li class="header__list-item-left undotted">
            <a href="#" class="header__list-link header__list-logo">LoremIpsum.<span class="header__list-logo-badge">Net</span></a>
          </li>
          <li class="header__list-item undotted">
            <a href="#" class="header__list-link">Бизнес</a>
          </li>
          <li class="header__list-item undotted">
            <a href="#" class="header__list-link">О нас</a>
          </li>
          <li class="header__list-item undotted">
            <a href="#" class="header__list-link">Цены</a>
          </li>
          <li class="header__list-item undotted">
            <a href="#" class="header__list-link">Оформить заказ</a>
          </li>
        </ul>
    </div>
  </header>